.grid-container {
    display: grid;
    grid-template-areas:
      'filter sort sort sort sort sort sort sort'
      'filter  products products products products products products products'
      'filter products products products products products products products'
      'filter products products products products products products products';
  
    gap: 15px 50px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .searchSort {
    grid-area: sort;
    padding: 15px;
    border-style: solid;
  }
  .filters {
    grid-area: filter;
    border-style: solid;
  }
  .products {
    grid-area: products;
    border-style: solid;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 30px;
}
  .product {
    width: 200px;
}